* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1023px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: #0A4890;
}

header {
    background-color: #0072BC;
    padding: 32px 0;
}
.logo-unimar {
    height: 32px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-list {
    list-style: none;
}
.nav-item {
    display: inline;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #00d9ed;
    border-radius: 8px;
    margin-right: 8px;
    transition: all ease 0.5s;
}
.nav-item:hover {
    background-color: #00bad4;
}
.nav-links {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
}

.graduacao-ads {
    width: 100%;
}
.sobre {
    display: flex;
    margin-right: 16px;
}
.sala-de-aula {
    height: 350px;
    margin-right: 3em;
}

h2 {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #fff;
    margin: 16px 0;
    font-size: bold;
    font-size: 32px;
}
p {
    color: #fff;
    max-width: 500px;
}
